# Python cache and virtualenv
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Data, models, and large files
datasets/
uploads/
*.keras
*.h5
*.pthgti 
*.ckpt
backend/taxon.txt
taxon.txt

# System/IDE files
.DS_Store
.vscode/
.idea/
*.log

# Secrets
.env
secrets.json
